<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotPass.css">
</head>
<body>
    <form method="post" action="/forgotPassword/createToken" id="tokenForm">
        <table>
            <tr>
                <td>Enter Your Email:</td>
                <td id="input"><input type="email" name="email" id="email"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="submit" id="submit"></td>
            </tr>
        </table>
        
    </form>
</body>
</html>